<html
  xmlns:th="http://thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <title>Estoque FJN</title>

    <link rel="stylesheet" th:href="@{/css/home.css}" />

    <link
      rel="stylesheet"
      type="text/css"
      href="semantic/dist/semantic.min.css"
    />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <div class="ui massive secondary menu" id="nav-principal">
        <a class="item">
          Página Inicial
        </a>
        <a class="item" href="/cadastrarProduto">
          Cadastrar produtos
        </a>

        <a class="item" href="/produtos">
          Listar Produtos
        </a>

        <a class="ui item">
          Ajuda
        </a>

        <div class="right menu">
          <a class="ui item">
            Usuário
          </a>
        </div>
      </div>
    </header>

    <h1>Estoque FJN</h1>

    <table class="ui celled table">
      <thead>
        <tr>
          <th>CODIGO:</th>
          <th>NOME:</th>
          <th>DATA DE CADASTRO:</th>
          <th>OBSERVAÇÃO:</th>
          <th>CATEGORIA:</th>
          <th>EXCLUIR:</th>
          <th>EDITAR</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="produto : ${produtos}">
          <td><span th:text="${produto.codigo}"></span></td>
          <td>
            <a
              th:href="${(#mvc.url('PC#buscarProduto').arg(0, produto.codigo)).build()}"
              ><span th:text="${produto.nome}"></span
            ></a>
          </td>
          <td><span th:text="${produto.dataCadastro}"></span></td>
          <td><span th:text="${produto.observacao}"></span></td>
          <td><span th:text="${produto.categoria}"></span></td>
          <td>
            <a
              class="waves-effect waves-light btn-Small"
              th:href="${(#mvc.url('PC#deletarProduto').arg(0, produto.codigo)).build()}"
              ><i class="material-icons">delete</i></a
            >
          </td>
          <td>
            <a
              class="waves-effect waves-light btn-Small"
              th:href="${(#mvc.url('PC#editarProduto').arg(0, produto.codigo)).build()}"
              ><i class="material-icons">create</i></a
            >
          </td>
        </tr>
      </tbody>
    </table>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script src="semantic/dist/semantic.min.js"></script>
  </body>
</html>
