<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Estoque FJN</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />


</head>
<body>
	<h1>Produto</h1>
	<h3>
		<a href="/produtos" class="waves-effect waves-light btn"><i
			class="material-icons left">format_list_bulleted</i>Lista de Produtos</a>
	</h3>
	<div th:each="produto: ${produto}" class="container" >
	<div class="row">
	<p><b>CODIGO: </b><br><span th:text="${produto.codigo}"></span></p>
	<p><b>NOME: </b><br><span th:text="${produto.nome}"></span></p>
	<p><b>DATA DE CADASTRO: </b><br><span th:text="${produto.dataCadastro}"></span></p>
	<p><b>OBSERVAÇÃO: </b><br><span th:text="${produto.observacao}"></span></p>
	<p><b>CATEGORIA: </b><br><span th:text="${produto.categoria}"></span></p>
	
	
	</div>

</div>

	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>