<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>DemoApp</title>
<meta charset="utf-8">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<h1>Estoque FJN</h1>
	<h3>
		<a href="/produtos" class="waves-effect waves-light btn"><i
			class="material-icons left">format_list_bulleted</i>Lista de Produtos</a>
	</h3>
	<form class="container" method="post">
		Nome: <input type="text" value="" name="nome" /> <br /> 
		
		Data de cadastro: <input
			type="date" value="" name="dataCadastro" /> <br /> 
		Observação: <input
			type="text" value="" name="observacao" /> <br /> 
		Categoria: <input
			type="text" value="" name="categoria" /> <br /> 
			
		<button class="waves-effect waves-light bnt" type="submit">Salvar</button>
	</form>
		<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>